.container-dashboard {
    padding: 20px 20px;
    height: 100vh;    
}
.container-dashboard .date-rage {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 3px;
    color: #797878;
}
header {
    display: flex;
    justify-content: space-between;
}

.container-dashboard header img {
    width: 150px;
    height:65px;
}

.container-dashboard h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 3px;
    color: #797878;
}

.container-dashboard .line-infos-request {
    display: flex;
    justify-content: space-between;
}
.container-dashboard .line-infos-patch {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 414px){
    .container-dashboard .line-infos-patch {
        flex-direction: column;
  
    }
    .container-dashboard .line-infos-request {
        flex-wrap: wrap;
    }
    .container-dashboard h1 {
        font-size: 24px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .container-dashboard header img {
        width: 140px;
        height:60px;
    }
}


@media(max-width: 1024px){
    .container-dashboard .line-infos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    } 
}