.container-card {
    width:220px;
    height: 75px;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 8px;
    position: relative;
    transition: box-shadow 0.2s;
}

.container-card:hover {
    box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.75);
}
.container-card .header-card {
    display: flex;
    position: relative;
}

.container-card .header-card span {
    margin-left: 25px;
    margin-top: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 21px;
    color: #797878;
    margin-top: 0.7em;
}

.header-card .icons-right .third-icon {
    position: absolute;
    right: 50px;
    top: 50px;
}

.header-card .icons-left .first-icon {
    position: absolute;
    left: -5px;
    top: 50px;
}

.header-card .icons-left .second-icon {
    position: absolute;
    left: 25px;
    top: 50px;
}

.container-card .footer-card {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    
    width: 92%;
    font-family: Roboto;
    font-style: normal;
    font-size: 12px;
    line-height: 9px;

    color: #797878;
}
.container-card .footer-card span:nth-child(1){
    font-weight: bold;
}

.container-card .footer-card span:nth-child(3){
    font-weight: bold;
}