.card {
    margin-top: 60px;
    width:200px;
    height: 120px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card .type {
    position: absolute;
    top: 30px;
    left: 14px;
    font-size: 16px;
    line-height: 19px;
    color: #6B6464;
}

.card .record {
    position: absolute;
    left: 14px;
    top: 63px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}


@media (max-width: 414px){
    .card {
        width:45%;
        height:130px;        
        position: relative;
    }
}
