.animation-full-request {
    margin-top: 10em;
 }
 main {
     position: relative;
     margin: 20px 15px;
     width: 100%;
     min-height: 78vh;
     background: #fff;
     padding: 10px 10px;
     border-radius: 8px;
     -webkit-box-shadow: 0px 0px 23px -12px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 0px 23px -12px rgba(0,0,0,0.75);
     box-shadow: 0px 0px 23px -12px rgba(0,0,0,0.75);
 }
 
  main .header-request{
     display: flex;
     justify-content: space-between;
     position: relative;
 }
  main .request-type{
     width: 25px;
     height: 25px;
     background: green;
     border-radius: 12px;
 }
  main .request-type-description{
     color: #716868;
     font-size: smaller;
 }
 
  main .request-number {
     border: 1px solid #dcdce6;
     border-radius: 8px;
     padding: 5px;
     font-size: medium;
     color: #fff;
     background-color:  #398cb9;
 }
 
  main .request-content {
     margin-top: 20px;
     width: 100%;
     height: 49vh;
     overflow: auto;
     color: #716868;
 }
 
  main .request-tags {
     margin: 15px 0;
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
     align-items: center;
     height: 60px;
 }
  main .request-tags span {
     border: 1px solid #398cb9;
     border-radius: 8px;
     margin-right: 5px;    
     margin-bottom: 5px;
     padding: 3px;
     transition: background .6s;
 }
  main .request-tags span:hover {
   background:  #398cb9;
   color: #fff
 }
 
  main .request-footer {
    position: absolute;
     bottom: 10px;
     right: 15px;
     width: 95%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: #716868;
     font-weight: 700;
 }
 main .request-footer .button-timeline {
    background:#fff;
    border: 0;
    transition: opacity 0.2s;
}
main .request-footer .button-timeline:hover {
    opacity: 0.8;
}


@media (max-width: 414px){
    main .request-footer {
        right: 9px;
    }
}
@media(max-width: 553px){
    main .request-type-description {
        display: none;
    }
    main {
        min-height: 81vh;
    }
}
@media(max-width: 731px){
    main {
        margin-left: 18px;        
    }
}
@media(max-width: 978px){
    main {
       height: 100%;
   }
   main .request-footer {
    right: 9px;
} 
}
 @media(min-height: 1366px){
      main .request-content {
         min-height: 63vh;
     }
 }
 
