.card-patch {
    margin-top: 80px;
    width:410px;
    min-height:255px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
    transition: transform 0.2s;
}

.card-patch:hover{
    transform: translateY(-5px);    
}

.card-patch .mini-card {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 14px;
    top: -40px;
    background: #55C274;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-patch .description {
    position: absolute;
    top: 60px;
    right: 100px;
    font-size: 21px;
    line-height: 19px;
    color: #6B6464;
}

.card-patch .number-patch {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 47px;
    color: #000000;
}
.card-patch .line {
    position: absolute;
    width: 90%;
    top: 205px;
    left: 20px;
    border: 0.5px solid #C4C4C4;
}
.card-patch .observation {
    position: absolute;
    width: 100%;
    top: 215px;
    left: 20px;
   

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;

    color: #6B6464;

}


@media (max-width: 414px){
    .card-patch {
        width:100%;
        height:150px;        
        position: relative;
    }
}
